<!-- The Modal -->
<div id="uniModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="uniSpan">&times;</span>
    <h2>Prizes and Scholarships</h2>
    <ul>
      <li> University of Sydney Chancellor's Award </li>
      <li> The Yim Family Foundation Scholarship - Engineering Vacation Research Internship Program (2021) </li>
      <li> Academic Merit Prize (2019, 2021) </li>
      <li> Engineering Vacation Research Internship Program Scholarship (2020) </li>
      <li> Dean's List of Excellence in Academic Performance (2020) </li>
      <li> Department of Mechanical and Mechatronic Engineering Junior Prize for Outstanding Proficiency (2019) </li>
      <li> Liversidge Scholarship (2019) </li>
    </ul>
  </div>

</div>

<!-- The Modal -->
<div id="schoolModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="schoolSpan">&times;</span>
    <h2>Achievements</h2>
    <ul>
      <li> 99.95 ATAR </li>
      <li> NSW HSC All-round Achiever (2018) </li>
      <li> Ranked 2nd in NSW for HSC Chemistry (2018) </li>
      <li> Ranked 5th in NSW for HSC Information Processes and Technology (2016) </li>
    </ul>
  </div>

</div>

<!-- The Modal -->
<div id="yumiModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="yumiSpan">&times;</span>
    <div class="container">
      <div class="yumiSlides">
        <div class="numbertext">1 / 5</div>
         <img src="img/timeline/yumi/start.png" style="width:100%">
        
      </div>

      <div class="yumiSlides">
        <div class="numbertext">2 / 5</div>
        <img src="img/timeline/yumi/blocks.png" style="width:100%">
        
      </div>

      <div class="yumiSlides">
        <div class="numbertext">3 / 5</div>
        <img src="img/timeline/yumi/tower.png" style="width:100%">
      </div>
        
      <div class="yumiSlides">
        <div class="numbertext">4 / 5</div>
        <img src="img/timeline/yumi/tower2.png" style="width:100%">
      </div>

      <div class="yumiSlides">
        <div class="numbertext">5 / 5</div>
        <video width="100%" controls>
            <source src="img/timeline/yumi/timelapse.mp4" type="video/mp4">
            <source src="img/timeline/yumi/timelapse.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
      </div>
        
      <a class="prev" onclick="plusSlides(-1, 'yumiSlides')">❮</a>
      <a class="next" onclick="plusSlides(1, 'yumiSlides')">❯</a>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column_gallery">
          <img class="demo cursor" src="img/timeline/yumi/start.png" style="width:100%" id="yumi1" onclick="currentSlide(1, 'yumiSlides')" alt="Randomly scattered Jenga blocks to be detected and stacked.">
        </div>
        <div class="column_gallery">
          <img class="demo cursor" src="img/timeline/yumi/blocks_resized.png" style="width:100%" id="yumi2" onclick="currentSlide(2, 'yumiSlides')" alt="Automatically detected Jenga blocks (different demonstration).">
        </div>
        <div class="column_gallery">
          <img class="demo cursor" src="img/timeline/yumi/tower_resized.png" style="width:100%" id="yumi3" onclick="currentSlide(3, 'yumiSlides')" alt="Tower constructed by the algorithm.">
        </div>
        <div class="column_gallery">
          <img class="demo cursor" src="img/timeline/yumi/tower2_resized.png" style="width:100%" id="yumi4" onclick="currentSlide(4, 'yumiSlides')" alt="Placement of blocks onto the tower.">
        </div>
        <div class="column_gallery">
          <img class="demo cursor" src="img/timeline/yumi/timelapse_thumbnail_resized.png" style="width:100%" onclick="currentSlide(5, 'yumiSlides');" id="yumi5" alt="Timelapse of a tower being constructed.">
        </div>    
      </div>
    </div>
  </div>

</div>

<!-- The Modal -->
<div id="hyperspectralModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="hyperspectralSpan">&times;</span>
  </div>

</div>

<!-- Timeline Start -->
<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      <ul class="timeline">

        {% for event in site.events %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% capture class %}
          {% if loopindex == 0 %}
            timeline-inverted
          {% endif %}
          {% endcapture %}

          <li class="{{ class }}">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="{{site.baseurl}}{{ event.image }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ event.date }}</h4>
              </div>
              <div class="timeline-body">
                {{ event.description | markdownify }}
              </div>
            </div>
          </li>
        {% endfor %}

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{site.baseurl}}{{ site.timeline-img }}" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Timeline End -->
<script>
  let slideIndex = 1;
  var unimodal = document.getElementById("uniModal");
  var schoolmodal = document.getElementById("schoolModal");
  var yumimodal = document.getElementById("yumiModal");
  var hyperspectralmodal = document.getElementById("hyperspectralModal");

  var unibtn = document.getElementById("uni");
  var schoolbtn = document.getElementById("school");
  var yumibtn = document.getElementById("yumi");
  var hyperspectralbtn = document.getElementById("hyperspectral");

  var unispan = document.getElementById("uniSpan");
  var schoolspan = document.getElementById("schoolSpan"); 
  var yumispan = document.getElementById("yumiSpan");
  var hyperspectralspan = document.getElementById("hyperspectralSpan"); 

  var yumislides = document.getElementsByClassName("yumiSlides");

  unibtn.onclick = function() { unimodal.style.display = "block"; }
  schoolbtn.onclick = function() { schoolmodal.style.display = "block"; }
  yumibtn.onclick = function() {
    yumimodal.style.display = "block";
    showSlides(slideIndex, "yumiSlides");
  }
  hyperspectralbtn.onclick = function() {
    hyperspectralmodal.style.display = "block";
    showSlides(slideIndex, "hyperspectralSlides");
  }

  unispan.onclick = function() { unimodal.style.display = "none"; }
  schoolspan.onclick = function() { schoolmodal.style.display = "none"; }
  yumispan.onclick = function() { yumimodal.style.display = "none"; }
  hyperspectralspan.onclick = function() { hyperspectralmodal.style.display = "none"; }

  window.onclick = function(event) {
    slideIndex = 1;
    if (event.target == unimodal) { unimodal.style.display = "none"; }
    else if (event.target == schoolmodal) { schoolmodal.style.display = "none"; }
    else if (event.target == yumimodal) { yumimodal.style.display = "none"; }
    else if (event.target == hyperspectralmodal) { hyperspectralmodal.style.display = "none"; }
  }

  function plusSlides(n, slideName) {
    showSlides(slideIndex += n, slideName);
  }

  function currentSlide(n, slideName) {
    slideIndex = n;
    showSlides(n, slideName);
  }

  function showSlides(n, slideName) {
    let i;
    let slides = document.getElementsByClassName(slideName);
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>